nav {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  align-items: center;
  padding: 9px;
  background-color: #333;
  color: #fff;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 130px;
  height: 58px;
  margin-right: 1px;
}

.yale {
  font-size: 18px;
  font-family: monospace;
  letter-spacing: 3px;
  color: rgb(252, 167, 10);
  font-weight: 600;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 250px;
  gap: 0px;
  z-index: 1000;
  justify-content: flex-end;
}

.navbar-menu li {
  margin-left: 50px;
  font-size: 15px;
  /* font-weight: bold; */

}

.arrow{
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -8px; /* Position it at the top, adjust as needed */
  right: -4px; /* Position it to the right, adjust as needed */
  background-color: rgb(241, 6, 6); /* Background color for the cart count */
  color: white; /* Text color */
  border-radius: 50%; /* Make it circular */
  padding: 2px 6px; /* Adjust the size of the badge */
  font-size: 11px; /* Adjust the font size for the count */
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px; /* Fix size for circular appearance */
  height: 17px; /* Fix size for circular appearance */
}

.cart {
  width: 25px;
  height: 21px;
  margin: 5px;
  color: rgb(252, 167, 10);
}

/* this */
.navbar-menu-toggle {
  cursor: pointer;
  display: none;
  z-index: 1001;
}

.navbar-menu-toggle span {
  width: 23px;
  height: 1.9px;
  background: rgb(252, 167, 10);
  margin: 2px 0;
  margin-left: 40px;
}

.navbar-menu li:hover {
  color: rgb(252, 167, 10);
  transition: 1s;
}

.house {
  color: rgb(252, 167, 10);
}

.close-menu {
  font-size: 24px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 0px;
  background: transparent;
  border: none;
  display: none;
  /* Initially hidden */
}


@media (max-width: 768px) {
  .navbar-menu-toggle {
    display: flex;
    flex-direction: column;
  }

  .navbar-menu {
    /* display: none; */
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    visibility: hidden;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .navbar-menu.open {
    /* display: flex; */
    opacity: 1;
    visibility: visible;
  }

  .navbar-menu li {
    margin-left: 0;
    margin-bottom: 20px;
    padding: 25px;
    background-color: #444;
    width: 100%;
    text-align: center;

  }

  .close-menu {
    font-weight: bold;
    color: orange;
    cursor: pointer;
    top: 1px;
    text-align: center;
    /* margin-left: 100px; */
    display: block;
  }
}

@media (max-width: 480px) {
  .navbar-brand img {
    width: 110px;
    height: 50px;
  }

  .navbar-brand span {
    font-size: 14px;
  }
}