nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    width: 130px;
    height: 58px;
    margin-right: 1px;
  }
  
  .yale {
    font-size: 18px;
    font-family: monospace;
    letter-spacing: 3px;
    color: rgb(252, 167, 10);
    font-weight: 600;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 24px;

    z-index: 1000;
  }
  
  .navbar-menu li {
    margin-left: 20px;
    font-size: 15px;
    /* font-weight: bold; */
    
  }

  /* new  */
  .navbar-menu-toggle {
    cursor: pointer;
    display: none;
    z-index: 1001;
}


  .navbar-menu-toggle span {
    width: 23px;
    height: 1.9px;
    background: white;
    margin: 2px 0;
    margin-left: 55px;
  }

  .navbar-menu li:hover{
    color: rgb(252, 167, 10);
    transition: 1s;
  }

  .house{
    color: rgb(252, 167, 10);
  }

  .close-menu{
      font-size: 24px;
      color: white;
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 30px;
      background: transparent;
      border: none;
      display: none; /* Initially hidden */
  }



  @media (max-width: 768px) {
    .navbar-menu-toggle {
      display: flex;
      flex-direction: column;
    }
  
    .navbar-menu {
      display: none;
      flex-direction: column;
      width: 100vh; 

      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9); 
      /* justify-content: center; */
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
  }

  .navbar-menu.open {
      display: flex; /* Show menu when open */
      opacity: 1;
  }

  .navbar-menu li {
      margin-left: 0;
      margin-bottom: 10px;
      padding: 20px;
      background-color: #444;
      width: 100%; 
      /* text-align: center; */

  }

  .close-menu {
    font-weight: bold;
    color: orange;
    cursor: pointer;
    top: 20px;
    text-align: center;
    margin-left: 100px;
    display: block;
}
}

@media (max-width: 480px) {
  .navbar-brand img {
      width: 100px;
      height: 45px;
  }
  .navbar-brand span {
      font-size: 14px;
  }
}
  
  
  
 