.center {
    text-align: center;
    margin-top: 50px;
  }
  
  .featured-products {
    margin-top: 15px;
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .featured-products div:first-child {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .look {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    gap: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  button {
    /* background-color: transparent; */
    /* color: #333; */
    /* border: none; */
    /* padding: 10px 20px; */
    /* font-size: 16px; */
    /* cursor: pointer; */
    /* border-radius: 5px; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
  }
  
  .look button:first-child {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(196, 16, 46);
  }

  .see:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
  }